.container {
  margin: 0 auto;
  max-width: 1300px;
}

/* Navbar */
.navbar {
  background-color: bisque;
  border-bottom: 1px solid coral;
  padding: 0 20px;
}

.navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navbar ul li {
  display: inline-block;
  padding: 10px 5px;
}

/* Sidebar */
.main {
  display: flex;
}

.sidebar {
  background-color: cornsilk;
}

.sidebar ul {
  list-style: none;
  padding: 20px;
  margin: 0;
}

/* Content */
.content {
  flex: 1;
  padding: 20px 40px;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;
}