.container {
  margin: 0 auto;
  max-width: 1200px;
}

nav {
  background-color: bisque;
  border-bottom: 1px solid coral;
  padding: 0 20px;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 10px 5px;
}